# Django basic
Django==1.3
wsgiref==0.1.2

# Database migrations
South==0.7.3

# BrowserID from Mozilla. Project, not necessarily app, requirement.
-e git+https://github.com/mozilla/django-browserid.git#egg=django_browserid-0.1-py2.6-dev
# BrowserID dependency httplib2. httplib2==0.7.1 is broken.
-e hg+https://code.google.com/p/httplib2/@6525cadfde53#egg=httplib2
