{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}

{% block nav %}
    {% if user.is_authenticated %}
        <ul>{% spaceless %}
            <li id="tab_profile"><a href="{% url profile_detail user.username %}">{% trans "Profile" %}</a></li>
            <li id="tab_notices"><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>
        {% endspaceless %}</ul>
    {% endif %}
{% endblock %}

{% block extra_head_base %}
	{% block dojo %}
    <link rel="stylesheet" type="text/css" 
           href="//ajax.googleapis.com/ajax/libs/dojo/1.7.2/dijit/themes/claro/claro.css">
	<script src="//ajax.googleapis.com/ajax/libs/dojo/1.7.2/dojo/dojo.js" data-dojo-config="async:true, parseOnLoad:true"></script>
	{% endblock %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block body_class %}claro{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
    <style type="text/css">
    	.hero-unit li {
			font-size: 16px;
			font-weight: 200;
			line-height: 24px;
		}
    </style>
{% endblock %}
