<!DOCTYPE html>
<html>
<head>
<title>{% block title %}Keyboard Layout Editor{% endblock %}</title>
{% block dojo %}
<script src="http://ajax.googleapis.com/ajax/libs/dojo/1.5/dojo/dojo.xd.js" djConfig="parseOnLoad: true" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/dojo/1.5/dijit/themes/claro/claro.css">
{% endblock %}

{% block header %}{% endblock %}
</head>
<body class="claro" style="font-size: 90%; padding-top: 2ex;">

<div id="user_or_login">
{% if user.is_authenticated %}
<span>
  Signed in as <span class="username">{{ user.get_full_name|default:user.email }}</span>
  <a href="{% url signout %}" class="signout-link">Sign out</a>
</span>
{% else %}
<a id="browserid" name="browserid">
	<img src="https://browserid.org/i/sign_in_red.png" 
	     alt="Sign in with BrowserID" 
	     title="Sign in with BrowserID">
</a>
<form method="POST" action="{% url browserid_verify %}">
   {{ browserid_form.as_p }}
   {% csrf_token %}
</form>
{% endif %}
</div>
{% block content %}{% endblock %}

{% if not user.is_authenticated %}
<script src="https://browserid.org/include.js" type="text/javascript"></script>
<script type="text/javascript">
dojo.addOnLoad(function() {
	var elem = dojo.byId('browserid')
	dojo.connect(elem, 'onclick', function() {
        navigator.id.getVerifiedEmail(function(assertion) {
          if (assertion) {
            var $e = dojo.byId('id_assertion');
            var dir = ""
            //for (n in $e) { dir += n+"; "}
            //alert(dir)
            $e.value = assertion.toString();
            $e.parentNode.submit();
          }
        });
    });
});
</script>
{% endif %}
</body>
</html>
