{% spaceless %}
       {% for char,style in key.refs.items %}
          <span class="{{ style }}">{{ char|default:"" }}</span>
       {% endfor %}
       {% for level in key.levels1 %}
          <span class="kbkeylevel{{ forloop.counter }} {{ level.style }}">{{ level|default:""|safe }}</span>
       {% endfor %}
       <div class="tooltip">
       {% for level in key.levels1 %}
          Level {{ forloop.counter }}: {{ level.hexa }} {{ level.name }}<br>
       {% endfor %}
       {% if can_edit %}
          Click key to edit
       {% else %}{% if request.user.is_authenticated %}
          Clone layout to make your changes
       {% else %}
          Log in to make your own layout
       {% endif %}{% endif %}
       </div> <!-- tooltip -->
{% endspaceless %}