{% extends "base.html" %}

{% block title %}Keyboard Layout Editor - {{ name }}{% endblock %}

{% block header %}
{% include "style.css" %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}kb-style.css" />
{% endblock %}

{% block content %}
 <h2>Keyboard Layout - {{ name }}</h2>
 <div class="control">
   Show reference: 
   <button dojoType="dijit.form.ToggleButton" checked iconClass="dijitCheckBoxIcon" id="showref1">
     level 1
   </button>
   <button dojoType="dijit.form.ToggleButton" checked iconClass="dijitCheckBoxIcon" id="showref2">
     level 2 (Shift)
   </button>
   Show layout:
   <button dojoType="dijit.form.ToggleButton" checked iconClass="dijitCheckBoxIcon" id="show1">
     level 1
   </button>
   <button dojoType="dijit.form.ToggleButton" cleared iconClass="dijitCheckBoxIcon" id="show2">
     level 2 (Shift)
   </button>
   <button dojoType="dijit.form.ToggleButton" checked iconClass="dijitCheckBoxIcon" id="show3">
     level 3 (AltGr)
   </button>
   <button dojoType="dijit.form.ToggleButton" checked iconClass="dijitCheckBoxIcon" id="show4">
     level 4 (AltGr+Shift)
   </button>
    <form method="post" action="{% url set-layout-font name %}">{% csrf_token %}
      {{ font_form.as_p }}
    </form>
 </div>
 <div class="keyboard">
 {% for row in key_rows %}
    {% spaceless %}
 	<div class="kbrow">
    {% for key in row %}
 	   {% if key.levels %}
 	   {% url edit-key name forloop.parentloop.counter0 forloop.counter0 as edit_url %}
 	   <div class="kbbasekey kbkey" style="width: {{ key.style_width }};" onclick="window.location.href='{{ edit_url }}'">
 	   {% for char,style in key.refs.items %}
 	      <span class="{{ style }}">{{ char|default:"" }}</span>
 	   {% endfor %}
 	   {% for level in key.levels1 %}
 	      <span class="kbkeylevel{{ forloop.counter }} {{ level.style }}">{{ level|default:""|safe }}</span>
 	   {% endfor %}
 	   <div class="tooltip">
 	   {% for level in key.levels1 %}
 	      Level {{ forloop.counter }}: {{ level.hexa }} {{ level.name }}<br>
 	   {% endfor %}
 	      Click key to edit
 	   </div> <!-- tooltip -->
 	   </div> <!-- kbkey -->
 	   {% else %}
 	   <span class="kbbasekey kbfunckey" style="width: {{ key.style_width }};">
 	     <span></span>
 	     <span style="{{ key.special_style }}">{{ key.name|safe }}</span>
 	   </span>
 	   {% endif %}   
    {% endfor %}
 	</div> <!-- kbrow -->
    {% endspaceless %}
 	<br>
 {% endfor %}
 </div>
 <form method="get" action="{% url gen-map name %}" dojoType="dijit.form.Form">
  <div class="control">
    <table>
    <tr>
    <th>Type of file to generate:</th>
  	<td>
  	  <input type="radio" dojoType="dijit.form.RadioButton" name="type" value="klc" id="type_klc" checked="checked" />
  	  <label for="type_klc">KLC file</label>
  	</td><td>
  	  <input type="radio" dojoType="dijit.form.RadioButton" name="type" value="xkb" id="type_xkb" />
  	  <label for="type_xkb">xkb symbols file</label>
	</td>
	</tr><tr>
	<th>Caps lock behavior:</th>
  	{% for name,opt,tooltip in caps_choices %}
  	  <td class="option">
  	  <input type="radio" dojoType="dijit.form.RadioButton" name="caps_option" 
  	   value="{{ name }}" id="caps_opt_{{ opt }}" />
  	  <label for="caps_opt_{{ opt }}">{{ name }}</label>
  	  <div class="tooltip">{{ tooltip|safe }}</div>
	  </td>
	  {% cycle '' '</tr><tr><th></th>' %}
	{% endfor %}
	</tr><tr>
    <th>Use mirroring:</th>
    <td>
  	  <input type="radio" dojoType="dijit.form.RadioButton" name="mirrored" value="on" id="mirroring_on" checked="checked" />
  	  <label for="mirroring_on">yes</label>
  	</td><td>
  	  <input type="radio" dojoType="dijit.form.RadioButton" name="mirrored" value="" id="mirroring_off" />
  	  <label for="mirroring_off">no</label>
	</input>
	</td>
	</tr><tr><th></th><td colspan="2">
      <button dojoType="dijit.form.Button" type="submit">Generate layout file</button>
   	</td></tr>
   	</table>
  </div>
 </form>
 
 <script type="text/javascript">
    dojo.require("dijit.form.Button");
    dojo.require("dijit.form.Select");
    dojo.require("dijit.form.Form");
    dojo.require("dijit.form.CheckBox");
    dojo.require("dojo.cookie");
       
    function setCookieChecked()
    {
    	var ctrlId = this.id
    	var checked = this.checked ? "checked" : "";
    	dojo.cookie(ctrlId, checked,{expires:365})
    }
    function visibleFromCookie(item)
    {
    	var cookie = dojo.cookie(item.id)
    	if (cookie != undefined) {
    		if ((cookie && !item.checked) || (item.checked && !cookie)) {
    			item.setChecked(cookie?true:false);
    			//changeVisible.call(item)
    		}
    	}
    }
    function radioFromCookie(item)
    {
    	var cookie = dojo.cookie(item.id)
    	if (cookie != undefined) {
    		if ((cookie && !item.checked) || (item.checked && !cookie)) {
    			item.click()
    		}
    	}
    }
    function clearRadioCookies()
    {
    	var name = this.name
    	var group = dojo.query('input[type="radio"][name="'+name+'"]')
    	group.forEach(function(item) {
    	  dojo.cookie(item.id, "")
    	})
    }
    function changeRefVisible() {
      var effect = this.checked ? dojo.fadeIn : dojo.fadeOut
      function fade(item) { effect({node: item}).play() } 
      dojo.query(this.target).forEach(fade)
      
      var ref1 = dijit.byId("showref1").checked
      var ref2 = dijit.byId("showref2").checked
      var ref1and2 = ref1 || ref2
      if (this.checked==ref1and2) {
	      dojo.query(".kbref1and2").forEach(fade)
      }
      setCookieChecked.call(this)
    }
    function changeVisible() {
      var effect = this.checked ? dojo.fadeIn : dojo.fadeOut
      function fade(item) { effect({node: item}).play() } 
      dojo.query(this.target).forEach(fade)
      setCookieChecked.call(this)
    }
    function installVisible(ctrlId, target) {
        var ctrl = dijit.byId(ctrlId)
        ctrl.set('target',target)
    	dojo.connect(ctrl, "onChange", changeVisible)
    	visibleFromCookie(ctrl)
    }
    
    function showTooltip() {
    	dojo.query('.tooltip',this).forEach("dojo.fadeIn({node: item}).play()")
    }
    function hideTooltip() {
    	dojo.query('.tooltip',this).forEach("dojo.fadeOut({node: item}).play()")
    }
    function installTooltip(item) {
    	dojo.connect(item,"onmouseover",showTooltip)
    	dojo.connect(item,"onmouseout",hideTooltip)
    }
    dojo.addOnLoad(function() {
        var ctrl = dijit.byId("showref1")
        ctrl.set('target','.kbref1')
    	dojo.connect(ctrl, "onChange", changeRefVisible)
    	visibleFromCookie(ctrl)
        ctrl = dijit.byId("showref2")
        ctrl.set('target','.kbref2')
    	dojo.connect(ctrl, "onChange", changeRefVisible)
    	visibleFromCookie(ctrl)
        installVisible("show1", ".kbkeylevel1")
        installVisible("show2", ".kbkeylevel2")
        installVisible("show3", ".kbkeylevel3")
        installVisible("show4", ".kbkeylevel4")
        dojo.query(".kbkey").forEach(installTooltip)
        dojo.query(".option").forEach(installTooltip)
        dojo.query('input[type="radio"]').forEach(function(item) {
          dojo.connect(item, "onchange", clearRadioCookies)
          dojo.connect(item, "onchange", setCookieChecked)
        })
        dojo.query('input[type="radio"]').forEach(function(item) {
          dojo.connect(item, "onchange", clearRadioCookies)
          dojo.connect(item, "onchange", setCookieChecked)
        })
        dojo.query('input[type="radio"]').forEach(radioFromCookie)		        
    }) 
 </script>
{% endblock %}
