{% extends "base.html" %}

{% block header %}
{% include "style.css" %}
<style type="text/css">
 .layout_block form { display: inline; }
</style>
{% endblock %}

{% block content %}
<h2>Layouts</h2>
<div class="explanations">
<p>Click a layout name to edit it, or </p>
<p>Fill a new name and press enter to clone; names should be all alphanumeric (no spaces)</p>
</div>
<table>
{% for layout in layout_list %}
  <tr class="layout_block">
    <td><a href="{% url show-layout layout.name %}">{{ layout.name }}</a></td>
    <td>
    <form method="post" action="{% url clone-layout layout.name %}">{% csrf_token %}
      {{ form.new_name }}
      <input type="submit" value="Clone"/>
    </form>
    </td>
  </tr>
{% endfor %}
</table>
{% endblock %}
