<style type="text/css">
 .kbdecoration { font-weight: bold; color: red; }
 .kbdecoration span { font-weight: normal; color: black; opacity: 0.25; }
 .kbkey { font-family: {{ font|default:"ezra sil, arial, sans serif" }}; }
 .kbdecoration { font-family: {{ font|default:"ezra sil, arial, sans serif" }}; }
 .kbsymbols { color: blue; }
 .control { white-space: nowrap; }
 /* 
    It appears if these aren't defined in the same page, they carry
    less weight than the browser's internal stylesheet.
    Thus, they are here (included in page template) rather
    than in a separate, static CSS file
*/
 .keyboard :link { text-decoration: none; color: black; }
 .keyboard :visited {text-decoration: none; color: black; }
 .keyboard :active {text-decoration: none; color: black; }
</style>