<style type="text/css">
 .kbdecoration { font-weight: bold; color: red; }
 .kbdecoration span { font-weight: normal; color: black; opacity: 0.25; }
 .kbkey { font-family: {{ font|default:"ezra sil, arial, sans serif" }}; }
 .kbdecoration { font-family: {{ font|default:"ezra sil, arial, sans serif" }}; }
 .kbsymbols { color: blue; }
</style>